<div class="nav-item detail">
  <div (click)="showModal(template)" class="btn btn-primary col-12">Voir la phrase en détail</div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Polarité en détail</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="polarite">
      <div class="row">
        <p class="col-12">Polarité globale</p>
        <div class="col-3 complet-pos"> {{ copieDep.polarite.complet.pos }} <br><span class="ext">positif</span></div>
        <div class="col-3 complet-neg"> {{ copieDep.polarite.complet.neg }} <br><span class="ext">negatif</span></div>
        <div class="col-3 complet-neut"> {{ copieDep.polarite.complet.neut }} <br><span class="ext">neutres</span></div>
        <div class="col-3 score-simple" [ngStyle]="{'background-color': copieDep.couleur}">
          <span class="scb">{{ copieDep.polarite.simple }}</span><br><span class="int">globale</span>
        </div>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">mot</th>
          <th scope="col">polarité</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of copieDep.polarite.detail; let idx = index">
          <th scope="row">{{idx}}</th>
          <td>{{d.mot}}</td>
          <td>
            <div class="btn-group">
              <div class="notes">
                <div class="menuitem" (click)="changeWordPolarity(idx,3)" [ngClass]="{'note': d.note == 3}">3</div>
                <div class="menuitem" (click)="changeWordPolarity(idx,2)" [ngClass]="{'note': d.note == 2}">2</div>
                <div class="menuitem" (click)="changeWordPolarity(idx,1)" [ngClass]="{'note': d.note == 1}">1</div>
                <div class="menuitem" (click)="changeWordPolarity(idx,0)" [ngClass]="{'note': !d.note || d.note == 0}">0</div>
                <div class="menuitem" (click)="changeWordPolarity(idx,-1)" [ngClass]="{'note': d.note == -1}">-1</div>
                <div class="menuitem" (click)="changeWordPolarity(idx,-2)" [ngClass]="{'note': d.note == -2}">-2</div>
                <div class="menuitem" (click)="changeWordPolarity(idx,-3)" [ngClass]="{'note': d.note == -3}">-3</div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="btn-group">
      <ul>
        <li role="menuitem">
          <a class="dropdown-item" (click)="saveChanges(false)" href="javascript:void(0)">Sauvegarder l'article</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="saveChanges(true)" href="javascript:void(0)">Sauvegarder tout</a>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
